<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/axios/axios.min.js"></script>

<form id="cerrar" action="/">
  <input onclick="cerrarsesion()" type="submit" value="cerrar Sesion">
</form>

<div id="body">
  <h1>
    &#128125;</h1>
  <h1>Bienvenido {{nombre}}</h1>
  <h2>Carga una foto de un extraterrestre</h2>
  <form action="/upload" method="POST" enctype="multipart/form-data" class="mt-4">
    <input id="foto" type="file" name="foto" />
    <input class="btn bg-light" type="submit" value="¡Subir imagen!" />
  </form>
</div>
<style>
  body {
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
  }

  td,
  th {
    color: white;
  }

  .col {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
</style>

<script>
  const secion = localStorage.getItem('email')
  const URLactual = window.location.href;

  const token = localStorage.getItem('jwt-token')
  async function cerrarsesion() {
    localStorage.removeItem('jwt-token');
    localStorage.removeItem('email');
  }

  let div = document.getElementById("body");

  async function validartoken() {
    if (!token) {
      localStorage.removeItem('jwt-token');
      localStorage.removeItem('email');
      div.innerHTML = "";
      alert("no estas autorizado")
      location.href = "http://localhost:3003/Dashboard"
      await axios.get("http://localhost:3003/Dashboard?token=" + token)
    }
    else {
      await axios.get("http://localhost:3003/Dashboard?token=" + token)
        .then((data) => {
          if (URLactual == ("http://localhost:3003/evidencias/" + secion)) {
            alert("autorizado")
          }
        })
    }
  }
  async function validarnombre() {
    await axios.get("http://localhost:3003/evidencias/" + secion)
  }
  async function validarurl() {
    await axios.post(URLactual)
      .then((data) => {
        if (data.data == "url incorrecto") {
          localStorage.removeItem('jwt-token');
          localStorage.removeItem('email');
          div.innerHTML = "";
          alert("ingrese nuevamente")
        }
      })
  }
  window.onload = validarurl()
  window.onload = validartoken()
  window.onload = validarnombre()

</script>