<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/axios/axios.min.js"></script>

<form id="home" action="/">
  <input type="submit" value="Home">
</form>
<form id="login" action="/login">
  <input type="submit" value="Login">
</form>

<div class="w-50 m-auto">
  <h2>游놓 Bienvenido a LA NASA 游놓</h2>
  <div class="row my-5 border rounded p-5">
    <h6 class="text-center mb-5 col-12">Registrese para poder pasar a evaluaci칩n</h6>
    <div class="col col-4">Email:</div>
    <div class="col col-8"><input type="text" class="form-control" id="email"></div>
    <div class="col col-4">Nombre:</div>
    <div class="col col-8"><input type="text" class="form-control" id="nombre"></div>
    <div class="col col-4">Contrase침a:</div>
    <div class="col col-8"><input type="password" class="form-control" id="password"></div>
    <div class="col-12 mt-5">
      <button onclick="registrar()" class="bg-light rounded text-success m-auto">Registrarme</button>
    </div>
  </div>
</div>

<style>
  body {
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
  }

  td,
  th {
    color: white;
  }

  .col {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
</style>

<script>
  const token = localStorage.getItem('jwt-token')

  if (token) {
    location.href = "http://localhost:3003/evidencias"
  }

  function registrar() {
    email;
    nombre;
    password;
    let data = {
      email: email.value,
      nombre: nombre.value,
      password: password.value,
    };
    axios.post("http://localhost:3003/usuario", data)
      .then((data) => {
        if (data.data == "correo existe") {
          alert("correo existe")
        }
        else if (data.data == "ingrese todos los datos para registrarse") {
          alert("ingrese todos los datos para registrarse")
        }
        else {
          location.href = "http://localhost:3003/login"
          alert("Te registraste correctamente")
        }
      })
  }
</script>