<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/axios/axios.min.js"></script>

<form id="home" action="/">
    <input type="submit" value="Home">
</form>
<div class="w-50 m-auto">
    <h2>&#128372; Ingresar &#128372;</h2>
    <div class="row my-5 border rounded p-5">
        <div class="col col-4">Email:</div>
        <div class="col col-8">
            <input type="text" class="form-control" id="email" />
        </div>

        <div class="col col-4">Contraseña:</div>
        <div class="col col-8">
            <input type="password" class="form-control" id="password" />
        </div>

        <div class="col-12 mt-2">
            <button onclick="verificacion()" class="bg-light m-auto btn">
                Ingresar
            </button>
        </div>
    </div>
</div>

<style>
    body {
        background: black;
        color: white;
        text-align: center;
        padding: 50px;
    }

    td,
    th {
        color: white;
    }

    .col {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
</style>

<script>
    const token = localStorage.getItem('jwt-token')

    if (token) {
        location.href = "http://localhost:3003/evidencias"
    }

    async function verificacion() {
        email;
        password;
        await axios.get("http://localhost:3003/token?email=" + email.value + "&password=" + password.value)
            .then((data) => {
                if (data.data == "Usuario o contraseña incorrecta") {
                    alert("usuario o contraseña incorrecta")
                }
                else if (data.data == "ingrese todos los datos para iniciar secion") {
                    alert("ingrese todos los datos para iniciar secion")
                }
                else if (data.data == "en validacion") {
                    alert("en validacion")
                }
                else {
                    localStorage.setItem('jwt-token', data.data)
                    localStorage.setItem('email', email.value)
                    location.href = "http://localhost:3003/evidencias/" + email.value
                    alert("has ingresado correctamente")
                }
            })
    }
</script>