<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/jquery/jquery.js"></script>
<script src="/axios/axios.min.js"></script>

<h2 class="mb-2">Usuarios registrados</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Validado</th>
    </tr>
  </thead>
  <tbody id="cuerpo">
  </tbody>
</table>

<style>
  body {
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
  }

  td,
  th {
    color: white;
    text-align: center;
  }

  .col {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
</style>

<script>
  let tbody = document.getElementById("cuerpo");
  let registros = []

  async function getData() {
    await axios.get("http://localhost:3003/usuarios")
      .then((data) => {
        registros = data.data;
        tbody.innerHTML = "";
        registros.forEach((c, i) => {
          if (c.auth == true) {
            tbody.innerHTML += `
      <tr>
        <td>${c.id}</td>
        <td>${c.nombre}</td>
        <td>${c.email}</td>
        <td><input onclick="validar(${c.id})" type="checkbox" checked></td>
      </tr>
        `;
          }
          else {
            tbody.innerHTML += `
      <tr>
        <td>${c.id}</td>
        <td>${c.nombre}</td>
        <td>${c.email}</td>
        <td><input onclick="validar(${c.id})" type="checkbox"></td>
      </tr>
        `;
          }
        });
      });
  }

  function validar(id) {
    valido = {
      auth: registros[id - 1].auth,
      email: registros[id - 1].email,
      nombre: registros[id - 1].nombre
    }
    axios
      .put("http://localhost:3003/usuario/" + id, valido)
      .then(() => {
        getData();
      });
  }

  window.onload = getData();
</script>